hydra:
  run:
    dir: ./output/${now:%Y-%m-%d}/${now:%H-%M-%S}/pretrain_flow
defaults:
  - _self_
  - trainer: pretrain_trainer
  - data_module: pretrain_data_module

seed: 42
monitored_metric: loss
dirpath: checkpoints/
train: False #True
test: False
accelerator: gpu
# add
precision: 16-mixed
devices: [0]
#devices: [0, 1]
strategy: deepspeed
load_checkpoint: True #
ckpt_path: /mnt/ssd2/lingyu/Tennis/ckpt/VideoMAE_ViT_B_1600.pth

save_ckpt_freq: 5
batch_size: 1 # 4
num_workers: 2 # 4
#accumulation_steps: 4
target_json_path: /mnt/ssd2/lingyu/Tennis/train.json

# add
source_sampling_rate: 1